.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__title {
  text-align: center;
  margin-bottom: $margine-30;
  // margin-bottom: var(--margin50);
}

.team-list__item {
  background: $color-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  justify-content: space-between;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
    justify-content: space-between;
  }
}

.team-title-cards {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $bgc-light-grey;
}
// .team-list__item:not(:last-child) {
//   margin-right: var(--margin30);
// }

.team-card-text {
  padding-top: 30px;
  padding-bottom: 24px;
  // margin-bottom: 24px;
  // padding-top: var(--margin30);
  // padding-bottom: var(--margin30);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
