.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.link {
  font-style: normal;
  transition: color $duration $timing-function;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $color-accent;
}

.logo--black {
  color: $color-dark;
}

.logo--inversion {
  color: $color-light;
}

.btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: color $duration $timing-function, background-color $duration $timing-function,
    -webkit-box-shadow $duration $timing-function;
  transition: color $duration $timing-function, background-color $duration $timing-function,
    -webkit-box-shadow $duration $timing-function;
  transition: color $duration $timing-function, background-color $duration $timing-function,
    box-shadow $duration $timing-function;
  transition: color $duration $timing-function, background-color $duration $timing-function,
    box-shadow $duration $timing-function, -webkit-box-shadow $duration $timing-function;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-light;
  background-color: $color-accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $color-dark;

  @include desktop {
    font-size: 36px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.team-soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill $duration $timing-function, background-color $duration $timing-function;
  transition: fill $duration $timing-function, background-color $duration $timing-function;
}
.team-soc-link:hover,
.team-soc-link:focus {
  fill: $color-light;
  background-color: $color-accent;
}

.header {
  border-bottom: 1px solid #ececec;
}
