// Colors----------------------------
$color-main: #757575;
$color-accent: #2196f3;
$color-dark: #212121;
$color-light: #ffffff;
$color-black: #00000000;
$bgc-light-grey: #afb1b8;

// margine----------------------------
$margine-30: 30px;
$margine-60: 60px;

// animation--------------------------
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
